<meta charset="utf-8">
<title>@@title</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="">
<!-- favicon -->
<link href="@@webRoot/assets/img/common/logo.png" type="image/x-icon" rel="icon">
<!-- meta social -->
<meta name="description" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:type" content="article">
<meta property="og:site_name" content="">
<meta property="og:site_url" content="">
<!-- include styles.html -->
<link rel="stylesheet" href="@@webRoot/assets/css/base.css">
<link rel="stylesheet" href="@@webRoot/assets/css/page.css">
<link rel="stylesheet" href="@@webRoot/assets/js/plugin/animsition/animsition/animsition.css">
<link rel="stylesheet" href="@@webRoot/assets/js/plugin/slickslider/slick.css">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500,700&display=swap&subset=japanese"
  rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">
<link rel="stylesheet" href="@@webRoot/assets/css/animate.min.css">