<script src="@@webRoot/assets/js/lib/jquery.min.js"></script>
<script src="@@webRoot/assets/js/plugin/object-fit/ofi.min.js"></script>
<script src="@@webRoot/assets/js/plugin/slickslider/slick.min.js"></script>
<script src="@@webRoot/assets/js/plugin/animsition/animsition.js"></script>
<script src="@@webRoot/assets/js/quiz.js"></script>
<script src="@@webRoot/assets/js/question.js"></script>
<script src="@@webRoot/assets/js/common.js"></script>
<script src="@@webRoot/assets/js/wow.min.js"></script>